<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Cursor>
    <Вспом.точка>16711680</Вспом.точка>
    <Крест>8388863</Крест>
    <Звезда>65535</Звезда>
    <Круг>65280</Круг>
    <Конверт>16744576</Конверт>
    <Треугольник>8388863</Треугольник>
    <Квадрат>16776960</Квадрат>
  </Cursor>
  <Axis>
    <Отображение_оси_1>True</Отображение_оси_1>
    <Отображение_оси_2>False</Отображение_оси_2>
    <Отображение_оси_3>False</Отображение_оси_3>
    <Название_оси_1>x</Название_оси_1>
    <Название_оси_2>y</Название_оси_2>
    <Название_оси_3>z</Название_оси_3>
    <Толщина_осей>1</Толщина_осей>
    <Тип_стрелки_оси>Arrow2</Тип_стрелки_оси>
    <Цвет_оси_1>65280</Цвет_оси_1>
    <Цвет_оси_2>16776960</Цвет_оси_2>
    <Цвет_оси_3>10485760</Цвет_оси_3>
  </Axis>
  <Grid>
    <Отображение_сетки>True</Отображение_сетки>
    <Размер_точек_сетки>5</Размер_точек_сетки>
    <Тип_точек_сетки>1,000</Тип_точек_сетки>
    <Шаг_сетки_1>1,250</Шаг_сетки_1>
    <Шаг_сетки_2>2,500</Шаг_сетки_2>
    <Цвет_сетки>16711680</Цвет_сетки>
  </Grid>
  <Point3D>
    <color1stplane>65408</color1stplane>
    <color2ndplane>16776960</color2ndplane>
    <color3rdplane>255</color3rdplane>
    <icon1stplane>icon3</icon1stplane>
    <icon2ndplane>icon4</icon2ndplane>
    <icon3rdplane>icon10</icon3rdplane>
    <name1stplane>P1</name1stplane>
    <name2ndplane>P2</name2ndplane>
    <name3rdplane>P3</name3rdplane>
  </Point3D>
  <Link>
    <Линия_связи_1>True</Линия_связи_1>
    <Линия_связи_2>False</Линия_связи_2>
    <Линия_связи_2>false</Линия_связи_2>
    <Цвет_линии_связи_1>255</Цвет_линии_связи_1>
    <Цвет_линии_связи_2>65535</Цвет_линии_связи_2>
    <Цвет_линии_связи_3>4227072</Цвет_линии_связи_3>
    <Толщина>3</Толщина>
    <Согласовать_цвета_с_осями>False</Согласовать_цвета_с_осями>
    <Цвет1></Цвет1>
    <Цвет2></Цвет2>
    <Цвет3></Цвет3>
    <Обозначение1></Обозначение1>
    <Обозначение2></Обозначение2>
    <Обозначение3></Обозначение3>
  </Link>
  <Segment>
    <Толщина></Толщина>
    <Отображение_концевых_точек></Отображение_концевых_точек>
    <Цвет1></Цвет1>
    <Цвет2></Цвет2>
    <Цвет3></Цвет3>
    <Обозначение1></Обозначение1>
    <Обозначение2></Обозначение2>
    <Обозначение3></Обозначение3>
  </Segment>
  <Point>
    <Цвет></Цвет>
  </Point>
</Settings>